
<div class="container text-center">
    <div class="mt-4">
      <img src="/assets/espeLogo.png" width="250"  alt="" />
      <h2>Gestión Tareas MEAN</h2>
    </div>
    <div class="d-grid gap-2">
      <a routerLink="/create" class="btn btn-create" type="button"
        ><fa-icon [icon]="faCirclePlus" [size]="'2x'"></fa-icon
      ></a>
    </div>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr class="table-info">
            <th style="display: none">Id</th>
            <th>Titulo</th>
            <th>Descripcion</th>
            <th>Fecha Limite</th>
            <th>Estado</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let task of tasks; let i = index">
            <td style="display: none">{{ task._id }}</td>
            <td>{{ task.title }}</td>
            <td>{{ task.description }}</td>
            <td>{{ task.dueDate | date:'yyyy-MM-dd' }}</td>
            <td>{{ task.status }}</td>
            <td>
              <div class="btn-group">
                <a routerLink="/update/{{ task._id }}" class="btn btn-edit"
                  ><fa-icon [icon]="faPen"></fa-icon></a
                >
                <button (click)="delete(task._id, i)" class="btn btn-delete"><fa-icon [icon]="faTrash"></fa-icon></button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>